body {
  background-color: rgb(207, 207, 221);
  font-family: 'Times New Roman', Times, serif;
  color: rgb(41, 40, 40);
}

.headline-header h1, .loader {
  text-align: center;
}

.searchbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.header, .search-bar, .news-list {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 4px;
  margin-bottom: 20px;
}
  
input, select, button {
  margin: 5px;
  padding: 10px;
  border: none;
  border-radius: 4px;
}
  
button {
  background-color: #2a3b54;
  color: white;
  cursor: pointer;
}
  
.news-card {
  background-color: rgba(255, 255, 255, 0.1);
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 4px;
}

.header,
.search-bar,
.news-list {
  background-color: transparent; 
  padding: 20px;
  border-radius: 4px;
  margin-bottom: 20px;
}

.header,
.search-bar,
.news-list {
  background-color: rgba(0, 0, 0, 0.7); 
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.news-card h2,
.news-card p,
.header h1, 
.search-bar input,
.search-bar select,
.search-bar button {
  color: #f0f0f0; 
}